*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Lato", sans-serif;
}
header 
{
    width: 100%;
    box-shadow: 0px 0px 10px 2px #ccc;
    position: sticky;
    top: 0px;
    background-color: white;
}
.header-mid 
{
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.header-mid figure 
{
    flex-basis: 50%;
}
.header-mid figure img
{
    display: block;
}
.header-mid .btn 
{
    flex-basis: 50%;
    justify-items: end;
}
.header-mid .btn>button 
{
    padding: 10px 20px;
    background-color:#FFCF40;
    border: none;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}

/* mobile-menu */
.mobile-bottom-menu 
{
    display: none;
}
.mobile-bottom 
{
    display:flex;
}
.btncall 
{
    flex-basis:50%;
}
.btncall>button
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #015EAB;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    border: none;
}
.btnwhatapps 
{
    flex-basis: 50%;
}
.btnwhatapps>button
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: none;
    background-color: #FFCF40;
    color: white;
    padding: 10px 20px;
    font-weight: bold;
}
/* end */

/* banner-sec */
.banner-sec
{
    width: 100%;
    background: url(image/imgi_39_banner.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.banner-mid 
{
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:56px 0px;
}
.banner-content
{
    flex-basis: 60%;
}
.banner-content>h1 
{
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    font-weight: bolder;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
    padding: 10px 0;
}
.banner-content>h2 
{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: bolder;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
    padding: 10px 0;
}
.banner-content>p 
{
    font-size: 20px;
    color: #fff;
    line-height: 25px;
    text-transform: capitalize;
    padding: 15px 0;
}
.banner-icon-img
{
    display: flex;
    gap: 10px;
}
.banner-icon-img img 
{
    width: 150px;
    height: 150px;
}
.banner-form 
{
    flex-basis: 33.3333%;
    background-color: #F3F3F3;
    padding: 30px 20px;
    margin-top: 40px;
    border-radius: 20px;
}
.banner-form>h3 
{
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.banner-form form 
{
    display: flex;
    flex-direction: column;
}
.banner-form form>input 
{
    width: 100%;
    height: 30px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.5;
    background-color: #fff;
    border-radius: 0;
    color: #363636;
    margin-bottom:15px;
    border: 1px solid grey;
}
::placeholder
{
    color: black;
}
.banner-form form>input:hover 
{
    border:3px solid skyblue;
}
.captcha 
{
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.captcha>input 
{
    width: 45%;
    height: 30px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.5;
    background-color: #fff;
    border-radius: 0;
    color: #363636;
    border: 1px solid grey;
} 
.captcha>button
{
    width: 45%;
    border: none;
    background-color: #FFCF3F;
    font-weight: bold;
}
.banner-form form>p 
{
    font-size: 13px;
    line-height: 18px;
}
.banner-form form>p span a
{
    color: #007bff;
}
.banner-form form>button 
{
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
    transition: 1s;
    background: linear-gradient(rgba(255, 255, 255, 0.21) 0%, rgba(255, 255, 255, 0) 100%), rgb(21, 94, 209);
    border: none;
    padding:8px 0px;
    cursor: pointer;
}
.banner-form form>button:hover 
{
    background: linear-gradient(174.82deg, rgba(251, 255, 56, 0.8) 13.44%, rgba(255, 255, 255, 0) 87.87%), #035fae;
}
/* end */

/* packing-video-section */
.packing-video
{
    width: 100%;
    padding: 50px 0px;
}
.packing-video>h2 
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    font-size: 26px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 26px;
    color: #035fae;
}
.packing-video>h2 span 
{
    color: yellow;
}
.packing-video-mid
{
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 24px;
}
.video-items
{
    flex-basis: 30.3333%;
    margin: 1.5%;
    border-radius:20px;
}
.video-items>iframe 
{
    width: 100%;
    border-radius:20px;
}
.video-items>h4 
{
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    margin-left: 10px;
    padding-top: 10px;
    color: #035fae;
}
/* end */